/* NO CSS */
.block {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 60px 20px;
  border: 5px;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 12px rgba(202, 201, 201, 0.267);
          box-shadow: 0 4px 12px rgba(202, 201, 201, 0.267);
  text-align: center;
  background-color: white;
}

.block:hover {
  border: 6px solid #ef4364;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

 i {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 20px 0px 10px;
  font-size: 70px;
  line-height: 100px;
}

 span {
  display: inline-block;
  width: 100%;
  margin: 20px 0 10px;
  font-size: 20px;
  line-height: 50px;
  font-weight: bold;
}

 h4 {
  display: inline-block;
  width: 100%;
  font-size: 17px;
  line-height: 20px;
  -webkit-text-decoration-color: grey;
          text-decoration-color: grey;
}
