
> .services.block {
  display: inline-block;  
  margin-bottom: 40px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 40px 40px 20px;
  border-radius: 4px;
  float: left;
  width: 33.33%;
  box-shadow: 0 4px 12px rgba(202, 201, 201, 0.267);
  text-align: center;
  background-color: white;
}

  .services.i {
  display: inline-block;
  color: #f34236;
  font-size: 54px;
  line-height: 80px;
  height: 80px;
  width: 80px;
  margin: 10px;
  margin-right: 128px;
  margin-left: 95px;
  text-decoration: none;
  border-radius: 80px;
  text-align: center;
  position: static; 
  }
      /*display: inline-block;
      width: 100%;
      height: 70px;
      margin: 20px 0px 10px;
      padding: 20px;
  
  } */

   .services.span {
      display: inline-block;
      padding: 5px;
      width: 100%;
      margin: 20px 0 10px;
      font-size: 20px;
      line-height: 50px;
      font-weight: bold;
  }

   .services.h4 {
      display: inline-block;
      width: 100%;
      font-size: 17px;
      line-height: 20px;
      text-decoration-color: grey;
  }

  .services.block:nth-child(3n) {
    margin-right: 0;
  }
  .services.block:hover{
    border: 6px solid #ef4364;
    float: left;
        transform: translateY(-20px);
        transition-duration: 500ms; 
}

