// custom

.bg-primary {
    background-color: var(--primary-color);
}

.bg-primary-light {
    background-color: var(--primary-light-color);
}

.bg-primary-dark {
    background-color: var(--primary-dark-color);
}

.bg-primary-red {
    background-color: var(--primary-red-color);
}

.bg-primary-blue {
    background-color: var(--primary-blue-color);
}

.bg-primary-grey {
    background-color: var(--primary-grey-color);
}



// header

// hero

// clients

// about me

// achievements

// skills

// gallery

// job history

// services

// testimonials

// contact me

// footer

