.contact{
    display: inline-block;
}

.contactAdress{
    display: inline-block;
}

.ArikaContacts{
    display: inline-block;
    width: 100%;
    padding-bottom: 30px;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 50px;
    line-height: 50px;
}
 
.contactAdress div{
    display: inline-block;
    padding-bottom: 10px;
    color: var(--primary-grey-color);
    width: 90%;
}

.contactAdress a{
    display: inline-block;
    padding-right: 10px;
    padding-bottom: 15px;;
    color: var(--primary-grey-color);
    text-decoration: none;
    transition: .3s ease;
    width: 90%;
}

.hover{
    display: inline-block;
}

.hover:hover{
    color: white;
}


.contactAdress .fa{
    display: inline-block;
    width: 10%;
    padding-bottom: 10px;
}

.centerAbout{
    display: inline-block;
}

.centerAbout span{
    display: inline-block;
    color: white;
    padding-bottom: 30px;
    padding-left: 10px;
    font-size: 25px;
    width: 100%;
    text-align: left;
}

@media (max-width: 900px) {
    .centerAbout span{
    padding-top: 15px;
}}

.centerAbout a{
    display: inline-block;
    padding: 10px;
    padding-bottom: 10px;
    color: var(--primary-grey-color);
    width: 100%;
    text-decoration: none;
    text-align: left;
    transition: .3s ease;
}

.centerAbout a:hover {
    color: white;
}

.centerAbout img{
    width: 80px;
    height: 80px;
    object-fit: contain;
    padding: 3px;
}

@media (max-width: 1100px) {
    .centerAbout img{
    width: 70px;
    height: 70px;
}}

@media (max-width: 900px) {
    .centerAbout img{
    width: 80px;
    height: 80px;
}}

@media (max-width: 600px) {
    .centerAbout img{
    width: 150px;
    height: 150px;
}}

.footer{
    display: inline-block;
    border-top: solid 1px var(--primary-grey-color);
    background-color:var(--primary-dark-color);
    padding-left:150px ;
    padding-top: 20px;
    width: 100%;
    padding-bottom: 20px;



    .copyright{
        display: inline-block;
        color: var(--primary-grey-color);
        font-size: 17px;
        line-height: 20px;
    }

    @media (max-width: 900px) {
        .copyright {
            width: 100%;
            text-align: center;
    }}

    .icons{
       
        float: right;
        padding-right: 200px;
    }

    @media (max-width: 900px) {
        .icons {
        width: 100%;
        text-align: center;
        padding-right: 0;
        padding-top: 5px;
       
    }}

        .icons a{
            display: inline-block;
            color: var(--primary-grey-color);
            text-decoration: none;
            font-size: 17px;
            line-height: 20px;
            transition: .3s ease;
            padding-left: 5px;
        }
            
        .icons a:hover {
                color: white;
            }
        }

        @media (max-width: 900px) {
            .footer {
              padding-top: 20px;
              padding-left: 0;
        }}
    