.gallery{
  display: inline-block;



.works{
display: inline-block;
text-align: center;

 h1{
     display: inline-block;
     font-size: 50px;
     line-height: 55px;
     
 }

 h1::after{
     content: " ";
     border: solid 2px var(--primary-blue-color);
     height: 20px;
     width:130px;
     background-color:var(--primary-blue-color);
     position: relative;
     display: block;
     float: right;
     margin-top: 30px;
     margin-left: -150px;
     z-index: -1;
      }

p{
    display: inline-block;
    font-size: 18px;
    line-height: 20px;
    color:var(--primary-grey-color);
    margin-top: 20px;
}

}
.images{
display: inline-block;
text-align: center;



#latest_works_images{
    display: inline-block;
}  


    .gallery-item {
        display: inline-block;
        width: calc(100% / 3 - 30px);
        overflow: hidden;
        cursor: pointer;
        height: 350px;
        object-fit: cover;
        position: relative;
        

        &.hide {
            display: none;
        }
       
        
     
           img{
               display: inline-block;
               width: 100%;
               height: 350px;
              
              
           } 

           .titles{
            display:none;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            animation: title 0.3s ease forwards;
            flex-direction: column;
            text-decoration: none;

           }

           @keyframes title {
            from {background-color: none;}
            to {background-color: rgba(17, 17, 17, 0.4);}
           
           }

           .titles::after{
            content: " ";
            border: solid 0.5px white;
            width:130px;
            position: absolute;
            display: block;
            animation: line 0.4s linear forwards;
            margin-left: 125px;
                        
             }
             @keyframes line {
                from {
                  left:10%;
                  width:0%;
                }
                to {
                  left:5%;
                  width:20%;
                }
              }

              .titles::before{
                content: " ";
                border-left: solid 0.5px white;
                position: absolute;
                height: 100px;
                width: 1px;
                display: block;
                animation: line 0.4s linear forwards;
                margin-right: 160px;
                margin-top: 125px;
                animation: horizontalLine 0.4s linear forwards;
                            
                 }

                 @keyframes horizontalLine {
                    from {
                      top:10%;
                    height:0%;
                    }
                    to {
                      top:5%;
                      height:20%;
                    }
                  }

              .titles::after{
                content: " ";
                border: solid 0.5px white;
                position: absolute;
                display: block;
                animation: line 0.4s linear forwards;
                margin-left: 125px;
                            
                 }
           
           .titleName{
               display: inline-block;
               color: white;
               font-size: 18px;
               line-height: 50px;
               width: 100%;
               text-align: center;
               margin-top: 300px;
               animation: titleName 0.3s ease forwards;
              
           }

           @keyframes titleName {
            from {background-color: none;}
            to {background-color: var(--primary-red-color);}
           }
          

&:hover {
    .titles {
        display: flex;
    }

}}

@media (max-width: 1300px) {
  .gallery-item {
    width: calc(100% / 2 - 120px);
  }}

@media (max-width: 1100px) {
  .gallery-item {
    width: calc(100% / 2 - 30px);
  }}

  @media (max-width: 800px) {
    .gallery-item {
      width: calc(100% / 2);
    }}
  


@media (max-width: 900px) {
  .gallery-item {
    width: calc(100% / 1 - 120px);
  }}

  @media (max-width: 600px) {
    .gallery-item {
      width: calc(100% / 1 - 200px);
      }}

      @media (max-width: 500px) {
        .gallery-item {
          width: calc(100% / 1 - 120px);
          }}
          @media (max-width: 300px) {
            .gallery-item {
              width: calc(100% / 1);
              }}
    

}
}