.header {
  background-color: #343a40;
  opacity: 0.9;
  width: 100%;
  position: fixed;
  z-index: 1;
  text-align: center;
  padding: 10px;
  height: 68px;
}

.bum {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  height: 68px;
  text-align: center;
  background-color: transparent;
  z-index: 1;
  border-bottom: solid 1px grey;
  font-size: 20px;
  line-height: 40px;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1;
}

.bum .arika {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}

.bum .center {
  text-decoration: none;
  text-align: center;
}

.bum .center a {
  text-decoration: none;
  margin-left: 40px;
  color: white;
  position: relative;
  font-size: 20px;
  padding-bottom: 32px;
}

.bum .center a::after {
  display: inline-block;
  content: '';
  border-bottom: 3px solid white;
  bottom: 0;
  left: 0;
  right: 100%;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  position: absolute;
}

.bum .center a:hover::after {
  right: 0%;
}

.bum .right {
  text-align: center;
}

.bum .right a {
  border: solid 1px;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  width: 30px;
  height: 30px;
  color: white;
  font-size: 12px;
  margin-top: 10px;
}

.bum .right a:hover {
  color: black;
  background-color: white;
  border-color: white;
}
