.header {
  background-color: #343a40;
  opacity: 0.9;
  width: 100%;
  position: fixed;
  z-index: 1;
  text-align: center;
  padding: 10px;
  height: 68px;
}

.content-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  height: 68px;
  text-align: center;
  background-color: transparent;
  z-index: 1;
  border-bottom: solid 1px grey;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1;
  padding: 20px;
}

@media (max-width: 1300px) {
  .content-header {
    -ms-grid-columns: 1fr 5fr 1fr;
        grid-template-columns: 1fr 5fr 1fr;
  }
}

.arika {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  font-size: 24px;
  line-height: 30px;
}

.navigation {
  text-decoration: none;
  text-align: center;
  /* @keyframes drop{
                from {
                    opacity: 0;
                    margin-top: 60px;
                }
                to{
                    opacity: 1;
                    margin-top: 50px;
                }}*/
}

.navigation .animatedBorder {
  text-decoration: none;
  margin-left: 40px;
  color: white;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 22px;
  position: relative;
}

.navigation .animatedBorder:before {
  content: '';
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background-color: white;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.navigation .animatedBorder:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.navigation .dropdown-content {
  display: inline-block;
  opacity: 0;
  position: absolute;
  background-color: #f9f9f9;
  color: black;
  margin-top: 50px;
  width: 200px;
  margin-left: -46px;
  padding-top: 20px;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
  visibility: hidden;
}

.navigation a:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.navigation .dropdown-content a {
  color: black;
  float: left;
  text-align: left;
  font-size: 17px;
  line-height: 20px;
  margin-left: 10px;
  font-weight: bold;
  width: 100%;
  padding: 5px;
  text-decoration: none;
}

.navigation .dropdown-content a:hover {
  color: var(--primary-red-color);
}

.right {
  text-align: center;
}

.right a {
  display: inline-block;
  border: solid 1px;
  border-radius: 5px;
  padding: 8px;
  text-decoration: none;
  width: 30px;
  height: 30px;
  color: white;
  font-size: 12px;
}

.right a:hover {
  color: black;
  background-color: white;
  border-color: white;
  -webkit-animation: icons 0.7s ease-in-out;
          animation: icons 0.7s ease-in-out;
}

@-webkit-keyframes icons {
  from {
    color: white;
    background-color: #fff;
    border: black solid 1px;
  }
  to {
    color: black;
    background-color: white;
    border: white solid 1px;
  }
}

@keyframes icons {
  from {
    color: white;
    background-color: #fff;
    border: black solid 1px;
  }
  to {
    color: black;
    background-color: white;
    border: white solid 1px;
  }
}

@media (max-width: 1100px) {
  .right a {
    float: right;
    margin-left: 3px;
  }
}

.responsive-menu {
  display: none;
  color: white;
  font-size: 24px;
  line-height: 35px;
  width: 35px;
  border: solid 1px blue;
  border-radius: 3px;
  background-color: var(--primary-red-color);
  float: right;
  cursor: pointer;
}

@media (max-width: 1100px) {
  #headerjs .navigation {
    display: none;
  }
  #headerjs .navigation.mobile {
    display: inline-block;
    position: fixed;
    top: 70px;
    width: 100%;
    height: 286px;
    background-color: #fff;
  }
  #headerjs .navigation.mobile a {
    display: inline-block;
    color: black;
    width: 100%;
    text-transform: uppercase;
    border-bottom: solid var(--primary-grey-color) 1px;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    font-weight: bold;
    padding: 10px;
    margin-left: 0;
  }
  #headerjs .navigation.mobile .animatedBorder:after {
    border-bottom: none;
  }
  #headerjs .responsive-menu {
    display: inline-block;
    margin-left: 15px;
  }
}
