#hero {
  display: inline-block;
  background-image: url(../img/background1.jpg);
  width: 100%;
  color: white;
  height: 935px;
  overflow: hidden;
}

#hero .borderLeft {
  display: inline-block;
  margin-top: 300px;
  border-left: solid 4px white;
  padding-left: 30px;
}

@media (max-width: 1100px) {
  #hero .borderLeft {
    margin-top: 250px;
  }
}

@media (max-width: 900px) {
  #hero .borderLeft {
    margin-top: 0px;
  }
}

@media (max-width: 600px) {
  #hero .borderLeft {
    margin-top: 35px;
  }
}

#hero .left h3 {
  font-size: 65px;
  line-height: 80px;
  float: left;
}

#hero .animation {
  padding: 20px 0px;
}

#hero #text {
  display: inline-block;
  font-size: 22px;
}

#hero #str {
  display: inline-block;
  width: 50px;
  font-size: 22px;
  color: #fff;
  background-color: transparent;
  position: absolute;
}

#hero .hidden {
  opacity: 0;
}

#hero .cursor {
  display: inline-block;
  position: relative;
  font-size: 24px;
  -webkit-animation: cursor 1s steps(1) infinite;
          animation: cursor 1s steps(1) infinite;
  opacity: 1;
}

@-webkit-keyframes cursor {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cursor {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#hero .left button {
  font-size: 14px;
  color: white;
  border: solid 1px #EF4464;
  background-color: #EF4464;
  border-radius: 5px;
  padding: 12px 20px;
  text-transform: uppercase;
  cursor: pointer;
  float: left;
}

#hero .left button:hover {
  background-color: black;
  border: solid 1px black;
  -webkit-box-shadow: 0px 5px 10px #EF4464;
          box-shadow: 0px 5px 10px #EF4464;
  -webkit-animation: button 1s ease-in-out;
          animation: button 1s ease-in-out;
}

@-webkit-keyframes button {
  from {
    background-color: #EF4464;
    border: #EF4464 solid 1px;
  }
  to {
    background-color: black;
    border: black solid 1px;
  }
}

@keyframes button {
  from {
    background-color: #EF4464;
    border: #EF4464 solid 1px;
  }
  to {
    background-color: black;
    border: black solid 1px;
  }
}

#hero #heroImg {
  display: inline-block;
  width: 100%;
}

@media (max-width: 1100px) {
  #hero #heroImg {
    margin-top: 40px;
  }
}

#aboutImg {
  display: inline-block;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.aboutText {
  display: inline-block;
  margin-top: 120px;
}

.aboutText h3 {
  color: black;
  font-size: 34px;
  padding-bottom: 20px;
  width: 100%;
  float: left;
}

.aboutText .web {
  width: 100%;
  color: black;
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 20px;
  float: left;
}

.aboutText .web:after {
  content: '';
  border: solid 2px var(--primary-blue-color);
  height: 5px;
  width: 132px;
  background-color: var(--primary-blue-color);
  position: absolute;
  margin-left: -135px;
  margin-top: 18px;
  z-index: -1;
}

.aboutText .text1 {
  color: var(--primary-grey-color);
  padding-bottom: 20px;
  font-size: 17px;
  line-height: 25px;
}

.aboutText .blue:after {
  content: '';
  border: solid 2px var(--primary-blue-color);
  height: 3px;
  width: 351px;
  background-color: var(--primary-blue-color);
  position: absolute;
  margin-left: 9px;
  margin-top: -10px;
  z-index: -1;
}

@media (max-width: 1300px) {
  .aboutText .blue:after {
    width: 275px;
    margin-left: -240px;
    margin-top: -10px;
  }
}

@media (max-width: 1100px) {
  .aboutText .blue:after {
    width: 200px;
    margin-left: -85px;
    margin-top: -35px;
  }
}

@media (max-width: 900px) {
  .aboutText .blue:after {
    width: 330px;
    margin-left: -295px;
    margin-top: -10px;
  }
}

@media (max-width: 600px) {
  .aboutText .blue:after {
    width: 310px;
    margin-left: -192px;
    margin-top: -10px;
  }
}

@media (max-width: 500px) {
  .aboutText .blue:after {
    width: 240px;
    margin-left: -200px;
    margin-top: -10px;
  }
}

.aboutText .blue:before {
  content: '';
  border: solid 2px var(--primary-blue-color);
  height: 3px;
  width: 202px;
  background-color: var(--primary-blue-color);
  position: absolute;
  margin-left: -200px;
  margin-top: 40px;
  z-index: -1;
}

@media (max-width: 1300px) {
  .aboutText .blue:before {
    width: 170px;
    margin-left: -315px;
    margin-top: 40px;
  }
}

@media (max-width: 1100px) {
  .aboutText .blue:before {
    width: 135px;
    margin-left: -45px;
    margin-top: 15px;
  }
}

@media (max-width: 900px) {
  .aboutText .blue:before {
    width: 140px;
    margin-left: -315px;
    margin-top: 40px;
  }
}

@media (max-width: 600px) {
  .aboutText .blue:before {
    width: 140px;
    margin-left: -250px;
    margin-top: 40px;
  }
}

@media (max-width: 500px) {
  .aboutText .blue:before {
    width: 210px;
    margin-left: -312px;
    margin-top: 40px;
  }
}

.aboutText .btn {
  margin-right: 10px;
  border: none;
}

@media (max-width: 1100px) {
  .aboutText {
    margin-top: 0px;
  }
}
