// custom

.bg-primary {
    background-color: var(--primary-color);
}

.bg-primary-light {
    background-color: var(--primary-light-color);
}

.bg-primary-dark {
    background-color: var(--primary-dark-color);
}

.bg-primary-red {
    background-color: var(--primary-red-color);
}

.bg-primary-blue {
    background-color: var(--primary-blue-color);
}

.center {
    text-align: center;
    
.linija {
    background-image: linear-gradient(
	0,
	#7FF2E7 10%,
	transparent 2%
 );
}




// header

// hero

// clients

// about me

// achievements

// skills

// gallery

// job history

// services

// testimonials

// contact me

// footer

